.copyright {
    height: fit-content;
    background-color: rgb(16, 16, 16);
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
    border: 1px solid rgb(22, 22, 22);
    display: flex;


}