.follow-us {
    height: fit-content;
    border-radius: 10px;
    background-color: rgb(16, 16, 16);
    padding: 15px;
    border: 1px solid rgb(22, 22, 22);

}

.follow-us > div > p {
    font-size: 12px;
    color: grey;
    margin-top: 10px;
    max-width: 300px;
    span > a{
        color: white;

    }
}