header {
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    position: relative;

}


.header-text {
    position: absolute;
    bottom: 15px;
    left: 15px;
    background-color: rgba(16, 16, 16, 0.557);

    padding: 10px;
    border-radius: 10px;

    a {
        font-size: 12px;
    }
}