.persondata {
    height: fit-content;
    border-radius: 10px;
    background-color: rgb(16, 16, 16);
    padding: 15px;
    border: 1px solid rgb(22, 22, 22);
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.persondata > div > p {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    font-size: 12px;
    height: 15%;
    color: grey;

}
.persondata > p:first-child {
    font-size: 14px;
    height: 15%;

}