.review {
    height: fit-content;
    background-color: rgb(16, 16, 16);
    border-radius: 10px;
    font-size: 12px;
    border: 1px solid rgb(22, 22, 22);
    font-size: 15px;


    *{
        margin: auto;
    }
  
    p{
        padding: 15px;
        font-size: 15px;
    }
    .stars{
        display: flex;
        flex-direction: row;
    }
    div {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        align-items: baseline;
        color: gold;
    }
    a{
        background-color: white;
        color: rgb(16, 16, 16);
        font-weight: 600;
        padding: 5px;
        border-radius: 5px;
        margin: 10px 0px 10px 0px;
    }
}

.review-container{
    height: fit-content;
    margin: 16px;
    background-color: red;
       background-color: rgb(30, 30, 30);
         border-radius: 10px;
         border: 1px solid rgb(45, 45, 45);
}

@media screen and (min-width: 700px){

    

}

@media screen and (min-width: 820px){
    .review {
        display: flex;
        flex-direction: row;
        padding: 15px;
        justify-content: space-evenly;
    }
    .review-container{
/*         margin: 0 auto 0 auto;
 */        min-height: 230px;
    }
    

}