.service {
    height: fit-content;
    border-radius: 10px;
    background-color: rgb(16, 16, 16);
    padding: 15px;
    border: 1px solid rgb(22, 22, 22);
}

.service>p:last-child {
    margin-top: 10px;
    font-size: 12px;
}

.services {
    height: fit-content;
    margin-top: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;

}


.cut {

    background-color: rgba(29, 29, 129, 0);
    border-radius: 10px;
    height: 100px;
    width: 100%;
    margin: auto;
    border: 2px solid rgb(22, 22, 22);
    align-items: center;
    padding: 10px;
}

.cut>p {
    font-size: 12px;
    height: 15%;

}

.cut>p:nth-child(2) {
    height: 70%;
    font-size: 12px;
    color: rgb(198, 198, 198);
    width: 90%;
    padding-top: 5px;

}