@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-family: "Nunito", sans-serif;
    user-select: none;

}



*::-webkit-scrollbar {
    display: none;
}


body {
    background-color: rgb(0, 0, 0);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;


}



@media screen and (max-width: 780px) {

    body>* {
        width: 100%;
        margin: auto;
    }
}
@media screen and (min-width: 840px) {

        body>* {
            min-width: 780px;
        max-width: 900px;
        margin: auto;
    }
}
