.walk-ins {
    height: fit-content;
    border-radius: 10px;
    background-color: rgb(16, 16, 16);
    padding: 15px;
    border: 1px solid rgb(22, 22, 22);
    gap: 10px;
    display: flex;
    flex-direction: column;

    div {
        gap: 10px;
        display: flex;
        flex-direction: column;
        font-size: 12px;

    }

    .bookingButton {
        width: fit-content;
    }
}